* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

:root {
  --bg-base: 240;
  --bg-main-color: hsla(0, 0%, 100%, 1);
  --bg-button: hsla(var(--bg-base), 9%, 89%, 1);
  --bg-base-hover: 194;
  --bg-button-hover: hsla(var(--bg-base-hover), 97%, 41%, 1);
  --bg-button-hover-active: hsla(var(--bg-base-hover), 97%, 31%, 1);
  --fc: hsla(var(--bg-base), 6%, 21%, 1);
  font-size: 62.5%;
  transition: all 1s ease;
}

:root body.darkMode {
  --bg-base: 240;
  --bg-main-color: hsla(var(--bg-base), 5%, 7%, 1);
  --bg-button: hsla(var(--bg-base), 6%, 17%, 1);
  --bg-base-hover: 194;
  --bg-button-hover: hsla(var(--bg-base-hover), 97%, 41%, 1);
  --bg-button-hover-active: hsla(var(--bg-base-hover), 97%, 31%, 1);
  --fc: hsla(0, 0%, 100%, 1);
  font-size: 62.5%;
  transition: all 1s ease;
}

*::selection {
  background: var(--bg-button-hover);
  color: #ffffff;
}

body {
  background: var(--bg-main-color);
  color: var(--fc);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: grid;
}

main {
  align-self: center;
  justify-self: center;
  max-width: 82.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19.2rem;
}

.buttonLightDarkmode {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.buttonLightDarkmode .boxButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10rem;
  height: 5rem;
  background: transparent;
  border-radius: 2.5rem;
}

.buttonLightDarkmode .boxButton .boxInsideBall {
  position: absolute;
  right: 0;
  width: 5rem;
  height: 5rem;
  background: var(--bg-main-color);
  border-radius: 50%;
  transition: all 1s ease;
}

.themeMomentActive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.9rem;
}

.themeMomentActive img {
  width: calc(10rem / 3);
}

.hide {
  display: none;
}

button {
  transition: all 0.2s ease;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
}

.clock {
  text-align: center;
  display: flex;
}

.clock span {
  font-weight: 500;
  font-size: clamp(12.6rem, 5.6rem + 15vw, 12.6rem);
  line-height: 14.8rem;
  text-transform: uppercase;
}

.settingsButtonGroup {
  display: flex;
  justify-content: space-between;
  width: 31.8rem;
}

.buttonSettings {
  width: clamp(4.8rem, 2rem, 6.4rem);
  height: clamp(4.8rem, 2rem, 6.4rem);
  background: transparent;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.buttonSettings:hover {
  background: var(--bg-button-hover);
  background-size: contain;
}

#playButton {
  background-image: url("../assets/images/play.svg");
}

.buttonSettings:hover#playButton,
body.darkMode #playButton {
  background-image: url("../assets/images/playHover.svg");
}

#pauseButton {
  background-image: url("../assets/images/pause.svg");
}

.buttonSettings:hover#pauseButton,
body.darkMode #pauseButton {
  background-image: url("../assets/images/pauseHover.svg");
}

#stopButton {
  background-image: url("../assets/images/stop.svg");
}

.buttonSettings:hover#stopButton,
body.darkMode #stopButton {
  background-image: url("../assets/images/stopHover.svg");
}

#addButton {
  background-image: url("../assets/images/add.svg");
}

.buttonSettings:hover#addButton,
body.darkMode #addButton {
  background-image: url("../assets/images/addHover.svg");
}

#subtractButton {
  background-image: url("../assets/images/subtract.svg");
}

.buttonSettings:hover#subtractButton,
body.darkMode #subtractButton {
  background-image: url("../assets/images/subtractHover.svg");
}

.soundCards {
  display: grid;
  grid-template-areas:
    "forest rain"
    "coffeshop fireplace";
  gap: 3.2rem;
}

.cardSound {
  width: 13.8rem;
  height: 15.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.4rem;
  position: relative;
  background: var(--bg-button);
  z-index: 1;
  text-align: center;
}

.cardSound img {
  position: absolute;
  top: 2.4rem;
  bottom: 7.2rem;
  width: 5.6rem;
  height: 5.6rem;
}

.cardSound img:nth-of-type(2) {
  display: none;
}

.volumeBar {
  -webkit-appearance: none;
  background: var(--fc);
  outline: none;
  width: 9rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  margin: 11.2rem 2.4rem 2.4rem;
}

.volumeBar::-webkit-slider-thumb {
  --webkit-appearance: none;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  background: var(--fc);
}

.cardSound:hover {
  background: var(--bg-button-hover);
}

.activeCard {
  background: var(--bg-button-hover-active);
}

body.darkMode .cardSound img:nth-of-type(1),
.cardSound.activeCard img:nth-of-type(1),
.cardSound:hover img:nth-of-type(1) {
  display: none;
}

body.darkMode .cardSound img:nth-of-type(2),
.cardSound.activeCard img:nth-of-type(2),
.cardSound:hover img:nth-of-type(2) {
  display: block;
}

.cardSound:hover .volumeBar,
.cardSound:hover .volumeBar::-webkit-slider-thumb,
.cardSound.activeCard .volumeBar,
.cardSound.activeCard .volumeBar::-webkit-slider-thumb {
  background: var(--bg-main-color);
}

body.darkMode .cardSound:hover .volumeBar,
body.darkMode .cardSound:hover .volumeBar::-webkit-slider-thumb,
body.darkMode .cardSound.activeCard .volumeBar,
body.darkMode .cardSound.activeCard .volumeBar::-webkit-slider-thumb {
  background: var(--fc);
}

@media (max-width: 768px) {
  :root {
    font-size: 55%;
  }

  main {
    flex-direction: column;
    gap: 6rem;
    margin: 0 auto;
  }

  .soundCards {
    display: flex;
  }

  .buttonSettings {
    background-size: contain;
  }
}

@media (max-width: 375px) {
  :root {
    font-size: 50%;
  }

  main {
    flex-direction: column;
    gap: 6rem;
    margin: 0 auto;
  }

  .soundCards {
    display: grid;
  }
}
